* {
  box-sizing: border-box;
}

body {
  background: black;
  margin-left: 50px;
}

header {
  /* background: lightcoral; */
}
header img {
  width: 100px;
}

section {
  /* background: green; */
}

.category {
  /* background: lightskyblue; */
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.gallery {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 40px;
}
.gallery img {
  height: 124px;
  object-fit: cover;
}
